body {
  background-color: lightgray;
  margin: 0;
}
@media  screen and (min-width: 600px) {
  body {
    color: red;
    background-color: black;
    
  }
}

header {
  background-color: white;
  width: 100%;
}

nav {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 20px 0;
}

h3 {
  font-size: 20px;
}

i.fas.fa-plane {
  transform: rotate(-45deg);
}

i.fas.fa-bars {
  font-size: 30px;
}

.container {
  width: 90%;
  margin: auto;
}

@media  screen and (max-width: 300px) {
  .container {
    width: 300px;
    margin: auto;
    display: flex;
    margin-right: 20px;
  }
}

@media  screen and (max-width: 600px) {
  .container {
    background-color: teal;
    width: 600px;
    margin: auto;
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    background-color: yellow;
    width: 1200px;
    margin: auto;
    display: flex;
  }
}

.carte {
  width: 80%;
  background-color: white;
  margin: 30px;
  margin-top: 30px;
  display: table-cell;
  vertical-align: middle;
  font-size: medium;
}

div img {
  border: white solid 20px;
  margin: 20px;
  width: 80%;
}

div h1 {
  margin: 20px;
  font-weight: bold;
}

p {
  margin: 20px;
}

div.carte {
  width: 80%;
}

.burger ul { display: none;}

.burger:hover ul { display: block;}
