* {
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

#fixed-header {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 20px 10%;
}

#fixed-header a {
    text-decoration: none;
    color: black;
}

a img {
    width: 40px;
    height: auto;
}

nav,ul,li {
    display: inline;
    margin-right: 20px;
}

#burger {
    display: block;
    float: right;
}

#burger svg {
    width: 40px;
    height: auto;
    display: none;
}

#mairie {
    margin: 0 10% ;
    padding-top: 100px;
    width: 45%;
}

#information {
    width: 30%;
}

main section {
    display: inline-flex;
}

.image {
    background-color: grey;
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

.adresse {
    display: inline-flex;
}

.card {
    margin-top: 25px;
    background-color: white;
    padding: 25px;
}

.card a {
    text-decoration: none;
    color: black;
    padding: 10px;
    box-shadow: 2px 2px 2px lightgrey;
}

table {
    border-collapse: collapse;
    text-align: left;
}

th {
    border: grey 1px solid;
    width: 325px;
    padding: 10px;
}

td {
    border: grey 1px solid;
    width: 175px;
    padding: 10px;
}
